*
{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.container{
    width:150%;
    height:120px;
    background-image:linear-gradient(rgb(0, 0, 0),rgb(11, 20, 46) 250%);
    overflow: ;
}






nav /*navigation bar customizations */
{
    width:150%;
    height:100px;
    background-image:linear-gradient(rgb(0, 0, 0),rgb(11, 20, 46) 250%);
    overflow: ;

}

ul 
{


}


img /*Code for the image on website*/
{   display:grid;
    margin-left: auto;
    margin-right: auto;
    width:55%;
    height:30%;
}





ul li  /*addition navigation styling code */
{
    list-style: none;
    display:inline-block;
    float:left;
    line-height: 90px;
}

ul  li a /* navigation font customizations */
{
    text-decoration: none;
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    padding: 0 119px;
}

ul  li a:hover /* Special effects that occur when cursor is held over any of the navigation buttons */
{
    background-color:rgb(18, 18, 32);
    color:gold;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 5px 50px 0 black inset, 0 5px 50px 0 aqua,
                0 5px 50px 0 white inset, 0 5px 50px 0 aqua;
                text-shadow: 0 0 5px orangered,
                0 0 5px orangered ;
    border-color:red;
}


body  /* code for the size of the entire page itself */
{
display:block;
justify-content: center;
align-items: center;
height:2200px;
background-image:linear-gradient(rgb(27, 8, 53),rgb(148, 42, 0) 250%);
background-repeat:no-repeat;
}




h1 /*header 1's text graphics */
{
    font-size:130%;
    color:yellow;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:grid;
    text-align: center;
    font-weight:normal;
    font-style: italic;
}

h2 /*header 2's text graphics */
{
    font-size:130%;
  color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:grid;
  text-align: center;
  font-weight:normal;
}

h3 /*header 4's text graphics */
{
    display:grid;
    text-align: center;
    font-weight:normal;
    text-decoration: none;
    font-size: 38px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:aliceblue;
    padding: 5 119px;
}


h4 /*header 4's text graphics */
{
    color:white;
    font-weight:normal;
    font-size:small;
}

p{ /*all paragraph text graphics */
    font-size:125%;
    color:white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:grid;
    text-align: center;
    font-weight:normal;
}


.slidershow /*code for the image slider placement on page */
{
    width:1050px;
    height:790px;
    overflow:hidden;
    align-content: center;
    border-color: yellow;
    border-style: ridge;
}

.middle /*to properly help align the slider on page */
{
    position: absolute;
    top:68%;
    left:50%;
    transform: translate(-50%, -50%);
}
.navigation{ /*code for the navigation of the slider on page */
    position: absolute;
    top:117%;
    left: 90%;
    transform: translateX(-50%);
    display:flex;
}
  
.bar   /*code for the white box navigators on the page */
{
 width: 50px;
 height: 48px;
 border: 2px solid #fff;
 margin: 6px;
 cursor: pointer;
 transition: 0.4s;
}

.bar:hover{ /*code for special effects that will happen as the cursor hovers over either one of the white box navigators */
    background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}
/*ALL code below this text is for the slide functions to work properly as needed for manual navigation */
.slides {
    width: 500%;
    height: 100%;
    display:flex;
}

.slide{
    width:20%;
    transition: 0.6s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left:0;
}

#r2:checked ~ .s1{
    margin-left:-20%;
}